.header-block {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #211a15;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

.header-left-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}